h1, h2, h3, h4, h5, h6 {
	font-family: proxima-nova, sans-serif;
	font-weight: 500 !important;
	font-style: normal;  font-weight: normal;
	color: #003087;
	text-rendering: optimizeLegibility;
	line-height: 1.4;
}
p {
	font-family: proxima-nova, sans-serif;
	font-weight: 400 !important;
	font-style: normal;
	color: #444546;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
}
small {
	font-weight: 100;
	font-size: 9px;
}
.copyright {
	letter-spacing: 2px;
}
.text-gray {
	color: #444546;
}
.background-image {
	background-image: url('../images/fraud-protection-background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
}
.gatsby-image-wrapper {
	height: 550px;
}
.box-shadow {
	box-shadow: -3px 3px 7px rgba(0, 0, 0, .2);
	background-color: #ffffff;
}

.blue-box {
	background-color: #00a3df;
	color: #ffffff !important;
}
footer {
	background-color: #1d282d;
	color: #fff;
	font-size: 9px !important;
}
footer p {
	color: #fff;
	font-size: 9px !important;
}
footer .yellow {
	color: #f9dc08;
}
.footer-nav {
	background-color: #173456;
	color: #fff;
}
@media only screen and (max-width: 600px) {
	.gatsby-image-wrapper {
		height: 350px;
	}
}
